*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  
  color: #a4acc4;
  font-family: 'M PLUS Rounded 1c' , sans-serif;
  font-size: 1.2rem;
}
.clear{content: '';
clear: both;display: block;}
.sidebar{z-index: 200; background-color: #191D2B; width: 250px;float: left;position: fixed; top: 0px; left: 0px; height: 100%; }
main{background-color: #101218; background-image: url(./Img/dots.svg); margin-left: 250px;  overflow-y:scroll;}
.nav-link:hover{
  background-color:#037fff;
  color: white !important;
  transition: all 1s;
}
.home{display: flex; flex-direction: column;
justify-content: space-between;}
.HomePage{
  min-height: 100vh;
}
.icons .nav-link{
font-size: 18px;
}
.title{
text-transform: uppercase;
font-size: 2rem;
color: white;
position: relative;
padding-bottom: 0.2rem;
letter-spacing: 3px;
z-index: 1;
}
.title::before{ content:'';
  bottom:0;
  position: absolute;
  left: 0;
  background-color: #0381ff38;
  width: 6rem;
  height: .3rem;
  border-radius: 50px;
}
.title::after{
  content:'';
  bottom:0;
  position: absolute;
  left: 0;
  background-color: #037fff;
  width: 3rem;
  height: .3rem;

}
.title span{
  position: absolute;
  top: 35%;
  left:0;
  font-size: 3rem;
  opacity: 0.05;
  font-weight: bold;
}
meter::-webkit-meter-bar {
  background: white;
  border: 1px solid #CCC;
  color: #000;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:#0d6efd ; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
.projects{
  box-shadow: 0px 0px 5px 0px whitesmoke;
}
.mymodel{
  transform: translate(-50%,-50%);
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  height: 400px;
}
.menu_bar{
  box-shadow: 0px 0px 3px 2px white inset;
  position: absolute;
  top: 3%;
  right: 5%;
  padding: 10px;
  border-radius: 5px;
  opacity: 0;
  cursor: pointer;
}

.menu_bar span{
  transition: all 1s;
    width: 38px;
    height: 3px;
    margin: 5px 0px;
    display: block;
    background-color: white;
}

.change span:nth-child(1) {
  -webkit-transform: rotate(-45deg) translate(-3px, 6px);
  transform: rotate(-45deg) translate(-3px, 6px);
}

.change span:nth-child(2){opacity: 0;}

.change span:nth-child(3) {
  -webkit-transform: rotate(45deg) translate(-5px, -8px);
  transform: rotate(45deg) translate(-5px, -8px);
}
@media  screen and (max-width:992px) {
  .sidebar{
    transform: translate(-100%);
    transition: all 1s;
  }
  main{margin-left: 0px;width: 100%;}
  
  .menu_bar{opacity: 1; z-index: 500;}
  
  

}
.MiniProject{height: 100vh;}
.nav-toggle{
  transition: all 1s;
  transform: translate(0%);
  z-index: 600;
  background-color: #191D2B; width: 250px;float: left;position: fixed; top: 0px; left: 0px; height: 100%;
}
